<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01086DDF2B3D700A007EB1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01086DE62B3D700B007EB1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0120F1422B2874D80038384E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0120F14A2B2874D80038384E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01A65F762B2A239500BADEA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B2F1B42B3EF12C00A4D3CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B2F1BB2B3EF12D00A4D3CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C1ED572B373EA400F0937F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01E53E502B3D766200D239FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01E53E572B3D766200D239FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
